---
---

@import "{{ site.theme }}";

.inner {
  max-width: 1000px;
}

#config-grid {
  display: grid;
  grid-template-columns: max-content 120px max-content auto;
  align-items: center;
  row-gap: 25px;
  column-gap: 15px;
}

label {
  font-weight: bold;
  justify-self: end;
}

.description {
  color: gray;
}

#textarea {
  width: 100%;
  height: 300px;
  resize: vertical;
}

.numeric {
    text-align: right;
}

#config-grid > h3 {
  grid-column-start: 1;
  grid-column-end: 5;
}

#rect_bed {
  display: grid;
  grid-template-columns: 46px 8px 46px;
  justify-content: center;
  column-gap: 10px;
  align-content: stretch;
}

#rect_bed > input {
  width: 42px;
}

.invalidNumber {
  color: red;
}

input {
  padding: 5px;
}

input:invalid {
  border-color: red;
  border-style: solid;
  box-shadow: 0px 0px 10px 1px red;
}
